
body{
    background-color: rgba(255, 222, 89, .25);
    margin: 0px;

    font-family:"Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    background-color: rgba(255, 222, 89, .75);
    color: #FFDE59; /*Joy Valley Logo Color*/
    padding:1% 5%;

    height: 200px;
}

header img{
    width: 200px;
    display: inline-block;
}

header h1{
    font-family: Satisfy, cursive;
    font-weight: bold;
    font-size:50px;
    display: none;
    width: auto;
    float:  left;
}

header nav{
    float:right;
    font-size:20px;
    padding: 5% 0;
    font-family: sans-serif;
    width: 60%;
    text-align: right;
}

header nav a{
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;

    margin-left: 5%;
}

header nav a:hover{
    border-bottom: solid #D25340 4px;
}

header nav a.current{
    border-bottom: solid #D25340 4px;
}

footer{
    background-color: rgba(255, 222, 89, .75);
    padding:1% 5%;
}

main{
    padding: 1% 5%;
    clear: both;
}

a{
    color: #000000;
    text-decoration: none;
}

h2{
    color: #D25340;
    border-bottom: solid #D25340 3px;
    text-align: center;

    font-family: Satisfy, cursive;
    font-weight: bold;
    font-size: 40px;

    clear: both;
}

h3{
    color: #D25340;
}
